/* Fonts van FontSquirrel*/
@font-face {
    font-family: 'nisesegasonic';
    font-weight: normal;
    font-style: normal;
    src: url('../fonts/nisesegasonic-webfont.woff2') format('woff2'),
        url('../fonts/nisesegasonic-webfont.woff') format('woff');
}

@font-face {
    font-family: 'gamefont';
    font-weight: normal;
    font-style: normal;
    src: url('../fonts/emulogic-zrew-webfont.woff2') format('woff2'),
        url('../fonts/emulogic-zrew-webfont.woff') format('woff');
}

/********************/
/*Custom Properties*/
*,
*::after,
*::before {
    box-sizing: border-box;
    --sonic-blauw: rgb(30, 23, 176);
    --sonic-geel: rgb(246, 200, 71);
    --black: #000000;
    --white: #ffffff;
    --red: red;
}

button:not([disabled]) {
    cursor: pointer;
}

/********************/
/*Indeling pagina*/
html {
    height: 100%;
}

body {
    background-image: "images/sonic1background.png";
    background-color: var(--sonic-blauw);
    padding: 0;
    margin: 0;
}

/*Styling Buttons*/
button {
    font-family: 'gamefont', sans-serif;
    font-size: 11pt;
    border-color: var(--black);
}

/*Sonic Titel)*/
h1 {
    position: relative;
    font-family: 'nisesegasonic', sans-serif;
    font-size: 27pt;
    color: var(--sonic-geel);
    text-shadow: -0.06em -0.06em 0 var(--black), 0.06em -0.06em 0 var(--black), -0.06em 0.06em 0 var(--black), 0.06em 0.06em 0 var(--black);
    margin-top: 1em;
    margin-bottom: .2em;
    text-align: center;
}

/*Sonic Tijdlijn Uitleg */
p {
    position: relative;
    font-family: 'nisesegasonic', sans-serif;
    font-size: 12pt;
    color: var(--white);
    margin-top: 0;
    margin-bottom: 0.1em;
    text-align: center;
}

header {
    position: relative;
    top: 0;
}

/*Start Achtergrond*/
header img {
    position: fixed;
    width: 100vw;
    height: 100vh;
    top: 0;
    left: 0;
    object-fit: cover;
    z-index: -1;
}

/*Buttons Tijdlijn 1 t/m 4*/
header section:first-of-type {
    display: flex;
    position: relative;
    justify-content: center;
    top: 12em;
}

header section:first-of-type ol {
    display: grid;
    position: relative;
    grid-template-columns: auto auto auto auto;
    margin: 0;
    top: 2em;
    column-gap: 6em;
    list-style-type: none;
    z-index: 1;
}

/*Button Muziek*/
header section:nth-of-type(2) {
    display: flex;
    position: relative;
    justify-content: center;
    top: .1em;
}

/*Zorgt ervoor dat de balkjes verdwijnen van de Sonic Poppetjes */
main button {
    appearance: none;
    border: none;
    background: none;
}

Button:hover {
    Background-color: var(--sonicblue);
    Border-color: var(--red);
}

Button:active {
    Background-color: var(--red);
}

/*Styling Titels Tijdlijn*/
main ol {
    list-style-type: none;
}


/********************/
/*Button Press Start*/
footer {
    display: flex;
    position: relative;
    justify-content: center;
    top: 23.3em;
}



/********************/
/*Achtergronden*/
body.j1991 {
    background-image: url("../images/sonic1background.png");
}

body.j1992 {
    background-image: url("../images/sonic2background.png");
}

body.j1994 {
    background-image: url("../images/sonic3background.png");
}

body.j2010 {
    background-image: url("../images/sonic4background.png");
}


/********************/
/**ANIMATIES**/


/* Sonic 1 - 1991 */
main button:first-of-type img {
    position: absolute;
    width: 15.62em;
    height: auto;
    top: 38em;
    left: 2.5em;
    animation-delay: 1s;
}

.rennen {
    animation: looping 2s ease-in-out forwards;
}

@keyframes looping {
    0% {
        left: 1.35em;
    }

    25% {
        top: 36.25em;
    }

    30% {
        top: 35.62em;
    }

    42% {
        top: 30em;
    }

    60% {
        transform: rotate(0deg);
    }

    70% {
        top: 28.75em;
        left: 59.37em;
    }

    85% {
        left: 60.62em;
        top: 21.87em;
    }

    90% {
        left: 56.25em;
    }

    99% {
        opacity: 1;
    }

    100% {
        left: 53.12em;
        top: 17em;
        transform: rotate(-180deg);
        opacity: 0;
    }
}

/* Sonic 2 - 1992 */
main button:nth-of-type(2) img {
    position: absolute;
    width: 15.62em;
    height: auto;
    top: 38em;
    left: 18em;
    animation-delay: 1s;
}

.springen {
    animation: springenweer 2.5s ease-in-out forwards;
}

@keyframes springenweer {
    0% {
        left: 18em;
    }

    20% {
        top: 13.25em;
    }

    35% {
        left: 28.75em;
        top: 13.25em;
    }

    50% {
        top: 13.25em;
    }

    60% {
        left: 36.25em;
        top: 13.25em;
    }

    99% {
        opacity: 1;
    }

    100% {
        top: 13.25em;
        left: 45.62em;
        opacity: 0;
    }
}

/* Sonic 3 - 1994 */
main button:nth-of-type(3) img {
    position: absolute;
    width: 15.62em;
    height: auto;
    top: 29.5em;
    left: 1.25em;
    animation-delay: 1s;
}

.looping {
    animation: jump 3s ease-in-out forwards;
}

@keyframes jump {
    0% {
        left: 1.25em;
    }

    20% {
        left: 15em;
    }

    35% {
        left: 20em;
        top: 10em;
    }

    50% {
        left: 30em;
        top: 29.5em;
    }

    70% {
        left: 45em;

    }

    85% {
        left: 55em;
        top: 20em;
    }

    99% {
        opacity: 1;
    }

    100% {
        left: 65em;
        top: 40em;
        opacity: 0;
    }
}

/* Sonic 4 - 2010 */
main button:nth-of-type(4) img {
    position: absolute;
    width: 15.62em;
    height: auto;
    top: 31em;
    left: 20em;
    animation-delay: 1s;
}

/* Sonic 4 Animatie Lopen */
.springenweer {
    animation: lopen .5s ease-in-out forwards;
}

@keyframes lopen {
    0% {
        left: 20em;
    }

    99% {
        opacity: 1;
    }

    100% {
        left: 70em;
        opacity: 0;
    }
}
